.main-block form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
}

.form input {
    margin-top: 25px;
}