.log_window {
    overflow: scroll;
    width: 800px;
    height: 800px;
    border-radius: 15px;
    border-color: black;
    border-width: 2px;
}

.log_list {
    text-align: left;
}

li {
    font-weight: bold;
}

.buttons {
    display: flex;
    flex-direction: column;
    padding-top: 250px;
    margin-left: 10px;
}

.buttons a {
    background-color: rgb(73, 73, 73);
    height: 50px;
    width: 250px;
    border-radius: 15px;
    color: #fff;   
    margin-top: 50px; 
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center; 
    text-decoration: none;   
    transition: 0.3s ease;
}

.buttons .btn-primary {
    margin-top: 50px!important;
    height: 50px!important;
    width: 250px!important;
    border-radius: 15px!important;
}

.buttons a:hover{
    transition: 0.3s ease;
    background-color: rgba(73, 73, 73, 0.7);
    text-decoration: none;
    color: #fff
}

.modal-body {
    display: flex!important;
}

.modal-body .text-block {
    text-align: center;
    color: rgb(160, 0, 0);
    margin-top: 15px;
}

.separate-line { 
    border-left: 2px solid rgb(73, 73, 73);
    margin-left: 5px;
    margin-right: 5px;
}

.input-block {
    display: flex;
    flex-direction: column;
}

.input-block input{
    margin-top: 5px!important;
    margin-bottom: 25px;
}

.modal-body input {
    margin-top: 25px;
}

.modal-body input::file-selector-button {
    background-color:rgb(73, 73, 73);
    color:#fff;
    border-radius: 10px;
    margin-right: 10px;
    transition: 0.3s ease;
    border-width: 0px;
    height: 35px;
    width: 150px;
}

.modal-body input::file-selector-button:hover {
    transition: 0.3s ease;
    background-color: rgba(73, 73, 73, 0.7);
    text-decoration: none;
    color: #fff
}

.modal-body .form-select {
    margin-top: 25px;
}

.modal-footer input {
    background-color:#146c43;
    color:#fff;
    border-radius: 10px;
    transition: 0.3s ease;
    border-width: 0px;
    height: 35px;
    width: 175px;
}

.modal-footer input:hover {
    background-color:#21ad6c;;
    transition: 0.3s ease;
    width: 200px;
}

.container {
    display: flex;
}

body {
    background-color: rgb(200, 226, 250);
}

.log_window {
    background-color: #fff;
}

.logs_block {
    margin: 10px;
}